.main-div {
  width: 90%;
}

.row-div {
  margin-top: 3rem;
}

.icon-div {
  width: 100%;
  text-align: right;
}

.reg-btn {
  background-color: white;
  color: hsl(257, 40%, 49%);
  border: none;
  width: 200px;
  height: 55px;
}

.reg-btn:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

.icon-row {
  width: 150px;
  margin-left: auto;
  margin-right: 0;
}

.instagram,
.twitter,
.facebook {
  border: white solid 1px;
  background-color: transparent;
  color: white;
  width: 40px;
  height: 40px;
}

.instagram:hover,
.twitter:hover,
.facebook:hover {
  border: hsl(300, 69%, 71%) solid 1px;
  color: hsl(300, 69%, 71%);
}
